mat-sidenav-container {
    mat-sidenav {
      background: gray;
    }
  }
  mat-sidenav-container{
    height: auto;
  }
  /* Set the height of the container to 100% to ensure full page height */
  /* Full page height */
  .full-height {
    height: 100vh;
    overflow: hidden; /* Prevent the page from adding an additional scroll bar */
  }
  
  /* Sidebar should be fixed on the left */
  .fixed-sidebar {
    position: fixed;
    top: 64px; /* Toolbar height */
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
      // Media query for mobile and tablet sizes
      @media (max-width: 768px) {
        display: none; // Hide sidebar on mobile
      }
    
  }
  
  /* Make the main content scrollable */
  .main-content {
    padding: 16px;
    height: calc(100vh - 64px); /* Subtract toolbar height */
    overflow-y: auto; /* Allow scrolling in the main content */
    box-sizing: border-box;
  }
  
  // Styles for the BASIC PLAN button
  .basic-plan-button {
    display: flex; // Default display
  
    // Media query to hide on mobile devices
    @media (max-width: 425px) {
      display: none; // Hide the button on mobile
    }
  }
  
  
  
  .mobile-nav-list {
    background-color: #038763; // Set background color for the mobile nav list
    padding: 10px; // Add some padding
    position: absolute; // Position it correctly
    top: 64px; // Adjust based on your header height
    left: 0;
    right: 0;
    z-index: 1000; // Ensure it sits above other elements
    position: fixed;
  }